html{
  scroll-behavior: smooth;
}

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;

  padding:0;
  margin:0;
  background-color: #18181b;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* Header/Nav */


header{
  background: #2a2c2e;
  color:white;
  padding-top:30px;
  min-height: 70px;
  border-bottom:white solid 1px;
}

header a{
  color:#171316;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  display:inline;
}

header #brand-logo{
  float:left;
}

header #brand-logo h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header a:hover{
  color:#171316;
  font-weight:bold;
}



/* Infocase */
#infocase .jumbotron{
  background-color:#4d4c4c;
  color:white;
  text-align:center;
  background:url("./images/Java.jpg") no-repeat center center;
  background-size:cover;
  padding:135px;
}

#infocase img{
  /* Makes image a circle and formats its size */
  width:auto;
  max-height: 350px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 40px;
 
  /* Centers the image */
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 10px solid white;
  

}

#infocase h1{
  font-family: 'Montserrat', sans-serif;
}

#infocase .container{
  background:rgba(0,0,0,.75);
 }

/* Portfolio-intro */
#portfolio-intro .jumbotron{
  background-color:#2a2c2e;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

/* Cardstack */
#cardstack{
margin-left: 100px;
margin-right: 100px;

}

#cardstack .card{
margin:10px;
background-color:#4a4c4e;
color:white;

}

#cardstack .card-img-top{
  margin-top:20px;
  width:auto;
  height:300px;
  object-fit:contain;
}


/* misc-intro */
#misc-intro .jumbotron{
  background-color:#2a2c2e;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin-top: 35px;
}

#misc-intro h2{
  margin-top:35px;
  font-size:40px;
}

#misc-intro h4{
  margin-top:8px;
}

#misc-intro h5{
 color:#d0d3d6;
}

#misc-intro h6{
  color:#d0d3d6;
}



/* Showcase */
#showcase{
  padding:35px;
  min-height: 400px;
  /*background:url("./images/Star\ Destoryer\ 2160p\ 4K.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -275px;
  color: #f8f9fb;
  text-align:center;
  background-color: #18181b;
}

#showcase h1{
  margin-top: 100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

.carousel-inner img{
  width:auto;
  height:700px;
  max-height: 700px;
}

.carousel-inner > .item{
  height:400px;
}

.carousel-inner .caption-adobe{
background: black;
}